@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;
@use "../../styles/typography" as typography;

.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 254px;
  height: 100vh;
  background: var(--color-glass-white);
  backdrop-filter: blur(40px);
  padding: 0;
  @include flex-column;
  gap: 48px;
  transition: right 0.3s ease;
  z-index: 100;
}

.mobile-menu__btn-close {
  margin: 32px 0;
  padding-right: 24px;
  @include flex-end;
  background: none;
  border: none;
  cursor: pointer;
}

.mobile-menu__nav {
  padding-left: 32px;
  @include flex-column;
  gap: 32px;
}
