@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;
@use "../../styles/typography" as typography;

.nav-link {
  @include typography.body-sm;
  text-transform: uppercase;
  color: var(--color-white);
  position: relative;

  span {
    font-weight: 700;
    margin-right: 12px;
  }

  &__desk {
    height: 100%;
    @include flex-center;

    &.active::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 3px;
      background: var(--color-white);
      z-index: 1001;
    }

    &:hover:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 3px;
      background: var(--color-white);
      opacity: 0.4;
    }
  }

  &__mobile {
    width: 100%;

    &.active::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 4px;
      height: 100%;
      background: var(--color-white);
    }
  }
}
