@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;
@use "../../styles/typography" as typography;

.nav-link {
  @include typography.body-sm;
  text-transform: uppercase;
  color: var(--color-white);
  position: relative;
  z-index: 100;
  height: 100%;
  @include flex-center;

  span {
    font-weight: 700;
    margin-right: 12px;
  }

    &.active::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 3px;
        background: var(--color-white);
        z-index: 1001;
      }

    &:hover:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 3px;
        background: var(--color-white);
        opacity: 0.4;
      }


}