@use "variables" as *;

@mixin respond-to($bp) {
  @media (max-width: $bp) {
    @content;
  }
}


@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-column-reverse {
  display: flex;
  flex-direction: column-reverse;
}