@use "variables" as *;

@mixin text-preset-1 {
  font-family: "Bellefair", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 144px;
  letter-spacing: 0;
  text-transform: uppercase;

  @media (max-width: $bp-tablet) {
    font-size: 144px;
  }

  @media (max-width: $bp-mobile) {
    font-size: 80px;
    line-height: 72px;
  }
}

@mixin text-preset-2 {
  font-family: "Bellefair", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 96px;
  line-height: 114.6%;
  letter-spacing: 0;
  text-transform: uppercase;

  @media (max-width: $bp-tablet) {
    font-size: 80px;
  }

  @media (max-width: $bp-mobile) {
    font-size: 56px;
  }
}

@mixin text-preset-3 {
  font-family: "Bellefair", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  letter-spacing: 0;
  text-transform: uppercase;

  @media (max-width: $bp-tablet) {
    font-size: 40px;
  }

  @media (max-width: $bp-mobile) {
    font-size: 24px;
  }
}

@mixin text-preset-4 {
  font-family: "Bellefair", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  letter-spacing: 0;
  text-transform: uppercase;

  @media (max-width: $bp-tablet) {
    font-size: 24px;
  }

  @media (max-width: $bp-mobile) {
    font-size: 18px;
  }
}

@mixin text-preset-5 {
  font-family: "Barlow Condensed", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  letter-spacing: 2px;
  text-transform: uppercase;

  @media (max-width: $bp-tablet) {
    font-size: 20px;
  }

  @media (max-width: $bp-mobile) {
    font-size: 16px;
  }
}

@mixin text-preset-6 {
  font-family: "Bellefair", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  letter-spacing: 0;

  @media (max-width: $bp-tablet) {
    font-size: 28px;
  }

  @media (max-width: $bp-mobile) {
    font-size: 16px;
  }
}

@mixin text-preset-7 {
  font-family: "Barlow Condensed", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 2px;

  @media (max-width: $bp-tablet) {
    font-size: 14px;
  }

  @media (max-width: $bp-mobile) {
    font-size: 14px;
  }
}

@mixin text-preset-8 {
  font-family: "Barlow Condensed", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 2px;

  @media (max-width: $bp-tablet) {
    font-size: 16px;
  }

  @media (max-width: $bp-mobile) {
    font-size: 14px;
  }
}

@mixin text-preset-9 {
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 180%;
  letter-spacing: 0;

  @media (max-width: $bp-tablet) {
    font-size: 16px;
  }

  @media (max-width: $bp-mobile) {
    font-size: 15px;
  }
}

@mixin heading-xxl   { @include text-preset-1; } 
@mixin heading-xl    { @include text-preset-2; } 
@mixin heading-lg    { @include text-preset-3; } 
@mixin heading-md    { @include text-preset-4; } 
@mixin heading-sm    { @include text-preset-5; } 
@mixin body-lg       { @include text-preset-6; } 
@mixin caption       { @include text-preset-7; } 
@mixin body-sm       { @include text-preset-8; } 
@mixin body-md       { @include text-preset-9; } 