:root {
--color-blue-dark: 0B0D17;
--color-blue-light: #D0D6F9;
--color-white: #FFFFFF;
--color-glass-white: rgba(255, 255, 255, 0.04);
--color-glass-blue:  rgba(11, 13, 23, 0.15);
}

$bp-desktop: 1440px;
$bp-tablet: 768px;
$bp-mobile: 375px;
