@use "./variables" as *;
@use "./mixins" as *;
@use "./typography" as *;


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
    text-decoration: none;
}

.app-wrapper {
  min-height: 100vh;
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0; 
}